<html>
    <title> {{ account.name }}</title>

    {% set insult = boxes.insults.all|random %}


    <style>
    body { 
        background-color: {{ theme.options.main.background_color }};
        
        </style>

    <head>Hello</head>
        <body>

            <nav>
                {% for item in navs.main %}
                <a href="{{ item.url }}">{{ item.name }}</a> <br>

                {% endfor %}
            </nav>

            {% block body %}

            <h1>
                Hello again
            </h1>
            <img src="{{ theme.options.main.header_image.url }}" />
            <div>
                <h1>{{ insult.name }}</h1>
            </div>

            <em> A theme by: {{ theme.config.theme.name }} </em>
            {% endblock %}
        </body>
</html>