<html>
    <title> {{ account.name }}</title>

    <style>
    body { 
        background-color: {{ theme.options.main.background_color }};
        
        </style>

    <head>Hello</head>
        <body>
            <h1>
                Hello again
            </h1>
            <img src="{{ theme.options.main.header_image.url }}" />
            {% for insult in boxes.insults.all %} 
            <div>
                <h1>{{ insult.name }}</h1>
            </div>
            
            {{boxes.insults.all|random.name}}

            <em> A theme by: {{ theme.config.theme.name }} </em>

        </body>
</html>