<html>
    <title> {{ account.name }}</title>

    <style>
    body { 
        background-color: {{ theme.options.main.background_color }};
        
        </style>

    <head>Hello</head>
        <body>
            <h1>
                Hello again
            </h1>
            <img src="{{https://images.getbento.com/accounts/6375c8d373956b6b17a8fd5db6a1f190/media/images/57005norb.png?w=1800&fit=max&auto=compress,format&h=1800}}" />
            <em> A theme by: {{ theme.config.theme.name }} </em>

        </body>
</html>